<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.polymap.routing.pgrouting.ui.PgRoutingPreferencePage"
            id="org.polymap.routing.PgRoutingPreferencePage"
            name="pgRouting">
      </page>
   </extension-->
   <extension
         point="org.polymap.core.data.featureOperations">
      <featureOperation
            class="org.polymap.routing.gt.TestGraphOperation"
            id="org.polymap.routing.gt.TestGraphOperation"
            label="Routing-Graph erstellen">
      </featureOperation>
   </extension>
   <extension
         point="org.polymap.core.http.servlets">
      <servlet
            class="org.polymap.routing.osm2po.Osm2poServlet"
            name="Osm2poService"
            path="/Osm2poService">
      </servlet>
   </extension>
</plugin>
