<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.polymap.core.data.csvimport.operations">
      <operation
            class="org.polymap.geocoder.CsvOperation"
            label="Addresssuche"
            tooltip="Hoch-/Rechtswert aus Adresse ermitteln">
      </operation>
      <!--operation
            class="org.polymap.geocoder.FlurstueckOperation"
            label="Flurstücke"
            tooltip="Hoch/Rechtswert aus Flurstückstabelle ermitteln">
      </operation-->
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.polymap.geocoder"
            name="Geocoder">
      </category>
      <view
            category="org.polymap.geocoder"
            class="org.polymap.geocoder.tasks.TasksView"
            icon="icons/task.gif"
            id="org.polymap.geocoder.tasks.TasksView"
            name="%views_tasksName">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.polymap.core.model.moduleAssemblers">
      <assembler
            class="org.polymap.geocoder.tasks.qi4j.TaskRepositoryAssembler">
      </assembler>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Funktionen des Geocoders (Adresssuche)"
            id="org.polymap.lka.geocoder.actionSet"
            label="Geocoder"
            visible="true">
         <action
               class="org.polymap.geocoder.tasks.ShowTasksViewAction"
               icon="icons/task.gif"
               id="org.polymap.lka.geocoder.showTasksView"
               label="Aufgaben anzeigen"
               style="toggle"
               toolbarPath="geocoder">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.polymap.lka.layerContribution"
            objectClass="org.polymap.core.project.ILayer">
         <action
               class="org.polymap.lka.poi.lucene.ReindexAction"
               icon="icons/refresh.gif"
               id="org.polymap.lka.reindexAction"
               label="Atlas-Index neu erstellen"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.polymap.lka.mapContribution"
            objectClass="org.polymap.core.project.IMap">
         <action
               class="org.polymap.lka.poi.lucene.ReindexAction"
               icon="icons/refresh.gif"
               id="org.polymap.lka.reindexAction"
               label="Atlas-Index neu erstellen"
               state="false"
               style="push">
         </action>
      </objectContribution>
   </extension>
</plugin>
